body {
    background-color: beige;
    padding:0px;
    margin:0px;
}
/*==============================================GAME BOARD=========================================================*/

.gameBoard{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    margin-left: 300px;
    margin-top: 100px;
    position: absolute;
}


#bottomLine{
    width: 80%;
    height: 5px;
    background-color: black;
    position: absolute;
    margin-top: 250px;
    margin-left: 40px;
}

#pillarLine{
    width: 5px;
    height:55%;
    background-color: black;
    position: absolute;
    margin-top: 35px;
    margin-left: 300px;
}

#topLine{
    width: 30%;
    height:5px;
    background-color: black;
    position: absolute;
    margin-top: 30px;
    margin-left: 185px;
}

#hangingLine{
    width:5px;
    height:13%;
    background-color: black;
    position: absolute;
    margin-top: 30px;
    margin-left: 180px;
}

#head{
    height: 45px;
  width: 40px;
border-color: black;
border-style: solid;
border-width: 2px;
  border-radius: 50%;
  position: absolute;
  margin-top: 80px;
  margin-left: 160px;
}
#connectBody{
    height:60px;
    width:2px;
    position: absolute;
    background-color: black;
    margin-top: 129px;
    margin-left: 182px;
}

#leftArm{
    height: 40px;
    width: 2px;
    margin-top: 140px;
    margin-left: 169px;
    background-color: black;
    position: absolute;
    transform: rotate(40deg);
}

#rightArm{
    height: 40px;
    width: 2px;
    margin-top: 140px;
    margin-left: 195px;
    background-color: black;
    position: absolute;
    transform: rotate(-40deg);
}

#leftLeg{
    height: 40px;
    width: 2px;
    margin-top: 184px;
    margin-left: 169px;
    background-color: black;
    position: absolute;
    transform: rotate(40deg);
}
#rightLeg{
    height: 40px;
    width: 2px;
    margin-top: 184px;
    margin-left: 195px;
    background-color: black;
    position: absolute;
    transform: rotate(-40deg);
}
.wordPanel{
    height: 100px;
    width: 300px;
    background-color: blueviolet;
    bottom: 0;
    position: absolute;
    margin-left: 50px;
    margin-bottom: 20px;
}
#guessCorrectWord{
    text-align: center;
}
#lineBox{
    width:32px;
    height:32px;
    float: left;
    position: relative;
    background-color: blueviolet;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    text-align: center;
    margin-left: 5px;
}
#bottomLineBox{
    
}
#gapLine{
    width:32px;
    height:32px;
    float: left;
    position: relative;
    background-color: beige;
}
/*==============================================GUESS BOARD / PLAYER BOARD=========================================================*/
.guessBoard{
    width:300px;
    height: 400px;
    background-color: magenta;
    position: absolute;
    margin-left: 700px;
    margin-top: 100px;
}

.guessPanel{
    width:100%;
    height: 60px;
    background-color: azure;
    position: absolute;
    bottom: 0%;
}
#guessWordTextBox{
    width:70%;
    height:25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
#guessButton{
    width: 50px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    right: 10px;
}
.playerPanel{
    width:100%;
    height:100px;
    position: absolute;
    background-color: blue;
}
.playerOnePanel{
    width: 100px;
    height:100%;
    background-color: yellow;
    position: relative;
    float: left;

}
.playerTwoPanel{

}
.playerThreePanel{
    
}
.chatPanel{
    width: 100%;
    margin-top: 100px;
    height:240px;
    background-color: rebeccapurple;
}
